@page "/commentoverview"
@using Ergo.App.Contracts
@using Ergo.App.ViewModels

<h3>Comment Overview</h3>
<br />

@if (Comments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Comments)
            {
                <tr>
                    <td>@comment.CommentText</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public ICommentDataService CommentDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<CommentViewModel> Comments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = uri.Query;

        if (!string.IsNullOrEmpty(query))
        {
            var queryParams = System.Web.HttpUtility.ParseQueryString(query);
            var taskId = queryParams.Get("taskId");

            if (!string.IsNullOrEmpty(taskId))
            {
                Comments = await CommentDataService.GetCommentsByTaskIdAsync(Guid.Parse(taskId));
                Console.WriteLine("TaskId: " + taskId);
            }
        }
    }
}