@tailwind base;
@tailwind components;
@tailwind utilities;

.minimal-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: '#1a1625';
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background-color: '#1a1625';
  border-radius: 10px;
}