@using Ergo.App.Contracts
@using Ergo.App.ViewModels
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorageService

<div class="top-row ps-3 navbar navbar-dark vw-100" style="background-color: #181818">
    <div class="container-fluid">
            <a class="d-flex align-items-center justify-content-center gap-2 navbar-brand" href="">
                <img src="/images/logo.png" alt="logo" width="25px" height="25px"/>
                <span class="h3 mb-0 ml-1" style="font-size:23px; color:gainsboro;">Ergo</span>
            </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
                <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView.Authorized>

                        <a href="/userprofile" class="d-flex">
                            <span class="bi bi-user-profile" style="width:25px; height:25px;"></span>
                        </a>

                    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView.Authorized>
                </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
        </div>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" style=" background-color: #444745" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Microsoft.AspNetCore.Components.Authorization.AuthorizeView.Authorized>

                    <div class="nav-item px-3">
                        My Projects
                    </div>
                    @if(projects != null)
                    @foreach (var project in projects)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link px-3" href="@($"taskoverview?projectId={project.ProjectId}")">
                                <span class="bi bi-project bi-project-hover" aria-hidden="true"></span> @project.ProjectName
                            </NavLink>
                        </div>
                    }

                    <div class="nav-item px-3">
                        <NavLink class="nav-link px-3" href="addproject">
                            <span class="bi bi-add" aria-hidden="true"></span> Add Project
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        My Teams
                    </div>

                </Microsoft.AspNetCore.Components.Authorization.AuthorizeView.Authorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    </nav>
</div>

@code {
    [Inject]
    public IProjectDataService ProjectDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<ProjectViewModel> projects { get; set; } = new List<ProjectViewModel>();

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
}

@functions
{
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var token = await LocalStorageService.GetItemAsync<string>("token");

        if (token != null)
        {
            try
            {
                projects = await ProjectDataService.GetProjectsByUserIdFromTokenAsync();

            }
            catch (UnauthorizedAccessException)
            {
                await LocalStorageService.RemoveItemAsync("token");
                NavigationManager.NavigateTo("/login", true);
            }
        }
    }
}
