@page "/login"
@using Ergo.App.Auth
@using Ergo.App.ViewModels
@using System.Text.Json
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider


<style>
    .cool-input {
        height: 3rem;
        border-radius: 3px;
        color: #d4d4d4;
        border: 2px solid #1f1f1f;
        background: #282828;
        font-size: 13px;
        outline: none;
    }

    .cool-input:focus, .cool-input:active {
        border: 1px solid rgba(105, 228, 150, 0.7);
        color: #d4d4d4;
        background: #282828;
        outline: none;
        box-shadow: 0 0 5px green;
    }

    .cool-button {
        margin-top: 1rem;
        border-radius: 3px;
        background: rgba(105, 228, 150, 0.7);
    }

    .cool-button:hover {
        border: 1px solid rgba(105, 228, 150, 0.7);
        box-shadow: 0 0 5px green;
    }

    .cool-label {
        color: #d4d4d4;
        font-size: 15px;
    }

    .cool-form {
        background: #282828;
        border-radius: 4px;
        padding: 45px 60px;
        margin-top: 25px;
    }

    .cool-link{
        color: #b6b6b8;
        
    }
    .cool-link:hover{
        color:rgba(105, 228, 150, 0.7);
        text-decoration: none;
    }

</style>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 cool-form">
            <h1 class="h2 font-weight-normal login-title text-center">Login</h1>

            <EditForm OnValidSubmit="OnSubmit" Model="loginRequest">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <label for="inputUsername" class="form-label cool-label sr-only">Username</label>
                    <InputText id="inputUsername" class="form-control cool-input" @bind-Value="loginRequest.Username" autofocus placeholder="Username" />
                    <ValidationMessage For="@(() => loginRequest.Username)" />
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label cool-label sr-only">Password</label>
                    <InputText type="password" id="inputPassword" class="form-control cool-input" placeholder="Password" @bind-Value="loginRequest.Password" />
                    <ValidationMessage For="@(() => loginRequest.Password)" />
                </div>

                <div class="text-center mb-3">
                    <button class="btn btn-primary cool-button" type="submit">Sign in</button>
                </div>
                <NavLink href="register" class="text-center" style="text-decoration:none;">
                    <h6 class="cool-link">Create account</h6>
                </NavLink>
            </EditForm>

            @if (!string.IsNullOrEmpty(error))
            {
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Login Error</strong>
                            <button type="button" class="btn-close" @onclick="DismissError" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color:red">
                            @error
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private LoginViewModel loginRequest { get; set; } = new LoginViewModel();
    private string error;

    private async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Login(loginRequest);
            navigationManager.NavigateTo("/", forceLoad: true);
        }
        catch (Exception ex)
        {
            error = "Invalid credentials";
        }
    }
    private void DismissError()
    {
        error = null;
    }
}
